body {
    margin: 0;
    background: #000;
    height: 500vh;
    overscroll-behavior: none;
}

.loading-overlay {
    z-index: -1;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: rgba(255,255,255,0.4);
}

.loading-message {
    font-size: 3rem;
    font-family: Roboto, sans-serif;
}

img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    opacity: 0;
    display: none;
}

@media screen and (max-width: 600px) {
    img {
        transform: translate(-50%, -50%) scale(2);
    }
}

img.active {
    opacity: 1;
    display: block;
}
