body {
    background: #000;
    height: 500vh;
    overscroll-behavior: none;
}

img {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-height: 100vh;
    max-width: 100vw;
    opacity: 0;
    display: none;
}

@media screen and (max-width: 600px) {
    img {
        transform: translate(-50%, -50%) scale(2);
    }
}

img.active {
    opacity: 1;
    display: block;
}
